[data-qiita-team-plus-fix-header="header"] {
  position: sticky;
  top: 0;
  z-index: 999;
}

[data-qiita-team-plus-add-stock-button-to-header="header-stock"] {
  float: left;
  font-size: 14px;
  margin-top: 8px;
  margin-right: 12px;
}

@media (max-width: 767px) {
  [data-qiita-team-plus-add-stock-button-to-header="header-stock-button-text"] {
    display: none;
  }
}
