<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>オプション</title>
</head>

<body>
  <div id="app">
    <h2>すべての画面</h2>
    <div>
      <label>
        <input
          type="checkbox"
          v-model="fix_header"
          @input="onUpdate">
        <span>ヘッダーを固定</span>
      </label>
    </div>
    <h2>記事編集画面</h2>
    <div>
      <label>
        <input
          type="checkbox"
          v-model="auto_enable_sync_scroll"
          @input="onUpdate">
        <span>同時スクロールを自動的に有効化</span>
      </label>
    </div>
    <div>
      <button @click="save">保存</button>
      <span
        v-if="status"
        v-text="status"></span>
    </div>
  </div>
  <script src="../scripts/options.js"></script>
</body>

</html>
