<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>オプション</title>
</head>

<body>
  <div id="app">
    <h2>すべての画面</h2>
    <div>
      <app-checkbox
        v-model="actions.fixHeader.value"
        :label="actions.fixHeader.name"
        @input="onUpdate"></app-checkbox>
    </div>
    <div>
      <app-checkbox
        v-model="actions.addStockButtonToHeader.value"
        :label="actions.addStockButtonToHeader.name"
        @input="onUpdate"></app-checkbox>
    </div>
    <h2>記事画面</h2>
    <div>
      <app-checkbox
        v-model="actions.addOldArticleAlert.value"
        :label="actions.addOldArticleAlert.name"
        @input="onUpdate"></app-checkbox>
    </div>
    <h2>記事編集画面</h2>
    <div>
      <app-checkbox
        v-model="actions.autoEnableSyncScroll.value"
        :label="actions.autoEnableSyncScroll.name"
        @input="onUpdate"></app-checkbox>
    </div>
    <div>
      <button @click="save">保存</button>
      <span
        v-if="status"
        v-text="status"></span>
    </div>
  </div>
  <script src="../scripts/options.js"></script>
</body>

</html>
